{
  "presets": [
    ["next/babel",
      {
        "preset-env": { "corejs": 3, "useBuiltIns": "entry" },
        "styled-jsx": { "optimizeForSpeed": true, "sourceMaps": false }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["babel-plugin-module-resolver", { "root": ["./"] }],
    ["babel-plugin-lodash"]
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", { "displayName": true, "ssr": true }]
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-graphql-tag"],
        ["styled-components", { "displayName": false, "ssr": true }]
      ]
    }
  }
}
