{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      },
      "babel-module": {}
    },
    "react": {
      "version": "detect"
    }
  },
  "extends": ["pk-standard"],
  "ignorePatterns": ["*.js"]
}
