@tailwind base;
@tailwind components;
@tailwind utilities;

[class^='icon-'],
[class*=' icon-'] {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}
