@import 'styles/config/mixins';

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
}

// BELOW THIS LINE YOU NEED TO DELETE EVERYTHING

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* stylelint-disable-next-line  no-duplicate-selectors */
body {
  color: $foreground-rgb;
  background: linear-gradient(to bottom, transparent, $background-end-rgb) $background-start-rgb;
}

a {
  text-decoration: none;
  color: inherit;
}
